.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  section {
    height: 100%;
    padding: 1em;
    overflow-y: scroll;

    .data {
      display: flex;
      gap: 1em;

      p {
        margin-bottom: .5em;
      }
    }

    table, th, td {
      border: 1px solid var(--main-color1)
    }

    th, td {
      padding: .5em;
      text-align: center;
    }
  }
}

.home {
  display: flex;
  justify-content: center;
  color: var(--black);
  opacity: 0.4;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}

.latest-user {
  img {
    width: 12em;
  }
}

.latest-product {
  img {
    width: 18em;
  }
}

.users {
  th, td {
    width: 8em;
  }

  tr > th:first-child,
  tr > td:first-child {
    width: 3em;
  }

  tr > th:last-child,
  tr > td:last-child {
    width: 15em;
  }
}

.page-link-wrapper {
  height: 3em;
  width: 40em;
  padding: .5em;
  margin: .5em auto;
  background-color: var(--main-color4);

  display: flex;
  justify-content: space-around;

  button {
    background-color: transparent;
    border: 0;
    color: var(--main-color1);
    font-weight: bold;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &.disabled {
      opacity: 0.4;
      cursor: auto;

      &:hover {
        transform: scale(1);
      }
    }
  }
}