.sidebar {
  color: var(--white);
  background-color: var(--main-color2);

  width: 15em;
  height: 100%;
  
  ul {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 2em;
  }
}

.side-link {
  color: var(--main-color1);
  background-color: var(--main-color3);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 4em;
  padding: 0 1em;
  border: 1px solid var(--main-color1);
  border-radius: 1em;

  transition: 0.2s;
}

.side-link::after {
  content: attr(data-text);
}

.side-link:hover {
  transform: scale(1.1);
}

