.logo {
  height: 100%;
  display: flex;

  img {
    height: 100%;
  }

  &--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.1em;
    margin-left: 0.1em;

    font-weight: 600;
  }
}